{% extends 'base.html.twig' %}

{% block body %}

    <div>
        <p>Date du jour : {{ "now" | date("d/m/Y") }}</p>
        <p>Participant : {{ app.user.pseudo }}</p>
    </div>

<div class="filre">
    <div class="row g-3 align-items-center">
        {{ form_start(searchForm) }}
        <div class="col-auto">
            <div>  {{ form_row(searchForm.campus) }}</div>
            <div>  {{ form_row(searchForm. nom) }}</div>
            <div>
                <div>{{ form_row(searchForm.dateDebut) }}</div>
                <div>{{ form_row(searchForm.dateFin) }}</div>
            </div>
        </div>
        <div class="col-auto">
            <div>  {{ form_row(searchForm.sortieOrganisateur) }}</div>
            <div> {{ form_row(searchForm.sortieInscrit) }} </div>
            <div>  {{ form_row(searchForm.sortieNonInscrit) }}</div>
            <div>  {{ form_row(searchForm.sortiePassee) }}</div>

        </div>
        <div class="col-auto">
            <div>
                <button type="submit" name="Rechercher">Rechercher</button>
            </div>
        </div>
        {{ form_end(searchForm) }}
    </div>

</div>
    {# <div class="filtres"> #}


    {#    <div> #}
    {#        <div class="row g-3 align-items-center"> #}
    {#            <div class="col-auto"> #}
    {#        <label> Campus <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">{{ app.user.campus.nom }}</a> #}

    {#            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink"> #}
    {#                {% for campus in campuss %} #}
    {#                 <li><a class="dropdown-item">{{ campus.nom }} </a></li> #}
    {#                {% endfor %} #}
    {#            </ul> #}
    {#        </label> #}

    {#        <label>Le nom de la sortie contient :<input name="search" autocomplete="name"></label> #}
    {#        <label>Entre <input type="date" > et <input type="date"></label> #}
    {#    </div> #}
    {#            <div class="col-auto"> #}
    {#        <fieldset> #}
    {#            <label ><input type="checkbox" name="organisateur">Sorties dont je suis l'organisateur</label> #}
    {#            <label ><input type="checkbox" name="inscrit">Sorties auxquelles je suis inscrit/e</label> #}
    {#            <label ><input type="checkbox" name="pas inscrit">Sorties auxquelles je ne suis pas inscrit/e</label> #}
    {#            <label ><input type="checkbox" name="passées">Sorties passées</label> #}
    {#        </fieldset> #}
    {#        <label><input type="submit" value="Rechercher"></label> #}

    {#            </div> #}
    {#    </form> #}
    {#        </div> #}

    {# </div> #}

    <table class="table table-dark table-striped">
        <br>
        <tr>
            <td> Nom de la sortie</td>
            <td> Date de la sortie</td>
            <td> Clôture</td>
            <td> Inscrits/Places</td>
            <td> Etat</td>
            <td> Inscrit</td>
            <td> Organisateur</td>
            <td> Actions</td>
        </tr>
        {% for sortie in sorties %}
            <tr>
                <td> {{ sortie.nom }} </td>
                <td> {{ sortie.dateHeureDebut|date ('d/m/y H:i') }} </td>
                <td> {{ sortie.dateLimiteInscription|date ('d/m/y ') }} </td>
                <td> {{ sortie.participants | length }} / {{ sortie.nbInscriptionsMax }}  </td>
                <td> {{ sortie.etat.libelle }} </td>
                <td>
                    {% if app.user in sortie.participants %}
                        X
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('profilOrganisateur_main',{'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.nom }}</a>
                </td>
                {#                {% if sortie.organisateur.nom == app.user.nom %} #}
                {#                <td><a href=" #" title="Modifier">Modifier</a> -<a href=" #" title="Publier">Publier</a></td> #}
                {#                {% elseif app.user in sortie.participants  %} #}
                {#                    <td><a href="{{ path('sortie_details',{'id':sortie.id}) }}"title="Afficher">Afficher</a> - <a href=" #" title="Se désister">Se Désister</a></td> #}
                {#                 {% else %} #}
                {#                     <td><a href="{{ path('sortie_details',{'id':sortie.id}) }}"title="Afficher">Afficher</a> - <a href="{{ path('sortie_sinscrire',{'id':sortie.id}) }}" title="S'inscrire'">S'inscrire'</a></td> #}
                {#                {% endif %} #}

                <td>
                    {% if sortie.etat.id == 1 %}
                        <a>Modifier</a> - <a href="{{ path('sortie_publier',{'id':sortie.id}) }} " title="Publier">Publier</a>
                    {% else %}
                        <a href="{{ path('sortie_details',{'id':sortie.id}) }} " title="Afficher">Afficher</a>
                    {% endif %}

                    {% if sortie.etat.id == 2 %}
                        {% if sortie.organisateur.pseudo == app.user.pseudo %}
                            - <a>Annuler</a>
                        {% elseif app.user in sortie.participants %}
                            - <a href="{{ path('sortie_desister', {'id':sortie.id}) }}">Se désister</a>
                        {% elseif sortie.participants | length < sortie.nbInscriptionsMax
                            and date() <= sortie.dateLimiteInscription %}
                            - <a href="{{ path('sortie_sinscrire',{'id':sortie.id}) }}"
                                 title="S'inscrire">S'inscrire</a>
                        {% endif %}

                    {% endif %}

                    {% if sortie.etat.id == 3 %}
                        {% if sortie.organisateur.pseudo == app.user.pseudo %}
                            - <a>Annuler</a>
                        {% elseif app.user in sortie.participants %}
                            - <a href="{{ path('sortie_desister', {'id':sortie.id}) }}">Se désister</a>
                        {% elseif sortie.participants | length < sortie.nbInscriptionsMax
                            and date() <= sortie.dateLimiteInscription %}
                            - <a href="{{ path('sortie_sinscrire',{'id':sortie.id}) }}"
                                 title="S'inscrire">S'inscrire</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>


    <button type="button" class="btn btn-outline-primary"><a href=" {{ path('creerSortie') }}" title="Créer une sortie">Créer
            une Sortie</a></button>


    {% endblock %}

    {% block title %}

    {% endblock %}

